/* SCSS */
body {
  font: 14px Helvetica, sans-serif;
  color: #666666;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #0a82c7;
  font-size: 26px; }

.header a {
  color: #666666; }

.header li a:hover {
  color: #666666; }

.header h4 {
  margin: 0;
  font-size: 14px;
  color: #666666;
  font-weight: normal; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: color1;
  border-top: 1px solid #666666; }

/* Customize container */
@media (min-width: 868px) {
  .container {
    max-width: 830px; }
    .container .jumbotron {
      padding: 24px 34px;
      text-align: center;
      border-bottom: 1px solid #e5e5e5;
      -moz-box-shadow: 3px 3px 10px 1px #aaaaaa;
      -webkit-box-shadow: 3px 3px 10px 1px #aaaaaa;
      box-shadow: 3px 3px 10px 1px #aaaaaa; }
    .container .btn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 21px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Supporting marketing content */
.result {
  margin: 40px 0; }

li.menuitem a {
  cursor: pointer; }
  li.menuitem a ul > li > a {
    cursor: pointer; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 868px) {
  /* Remove the padding we set earlier */
  .header,
  .result,
  .footer {
    padding-right: 0;
    padding-left: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
#query-container {
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 250px;
  width: 100%;
  overflow: hidden; }

.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #666666; }

.alert h2 {
  margin: 0 0 10px 0;
  font-size: 20px; }

.uri {
  color: #f2940a;
  cursor: pointer;
  text-decoration: underline; }

.bnode {
  color: #47a447; }

.browser-header {
  color: #2b2b2b; }

.download-button {
  position: absolute;
  margin-top: 5px !important;
  margin-left: 730px; }

.loader {
  text-align: center; }

.external-link {
  margin-left: 2px;
  color: #666666;
  font-size: 12px; }

.video {
  width: 900; }

.video-item {
  width: 270px;
  height: 200px;
  padding: 10px;
  float: left;
  position: relative; }

.video-item video {
  width: 100%;
  cursor: pointer; }

.video-overlay {
  padding: 3px;
  position: relative;
  background-color: #2b2b2b;
  color: white; }

.video-single-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.9; }

.video-single {
  position: fixed;
  width: 600px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  z-index: 101;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-box-shadow: 0 0 15px 1px #e5e5e5;
  box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.video-single video {
  width: 100%; }

.video-closer {
  color: white;
  position: fixed;
  top: 70px;
  left: 50%;
  margin-left: 310px;
  width: 20px;
  height: 20px;
  z-index: 102;
  font-size: 30px;
  cursor: pointer; }

.region-overlay {
  position: fixed;
  z-index: 102;
  left: 50%;
  border: 3px double #A9FF00;
  -moz-box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-box-shadow: 0 0 15px 1px #e5e5e5;
  box-shadow: 0 0 15px 1px #e5e5e5; }

.hint-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.hint {
  position: absolute;
  z-index: 999; }

.lang {
  color: #0a82c7; }

.modal-table {
  width: 100%; }

.modal-table tr td:first-child {
  width: 160px;
  font-weight: bold; }

.modal-table tr td {
  padding-bottom: 5px;
  vertical-align: top; }

.modal-table input {
  width: 100%; }

.modal-body h3 {
  color: #0a82c7;
  font-weight: bold; }

.video {
  width: 900; }

.video-item {
  width: 270px;
  height: 200px;
  padding: 10px;
  float: left;
  position: relative; }

.video-item video {
  width: 100%;
  cursor: pointer; }

.video-overlay {
  padding: 3px;
  position: relative;
  background-color: #2b2b2b;
  color: white; }

.video-single-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.9; }

.video-single {
  position: fixed;
  width: 600px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  z-index: 101;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-box-shadow: 0 0 15px 1px #e5e5e5;
  box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.video-single video {
  width: 100%; }

.video-closer {
  color: white;
  position: fixed;
  top: 70px;
  left: 50%;
  margin-left: 310px;
  width: 20px;
  height: 20px;
  z-index: 102;
  font-size: 30px;
  cursor: pointer; }

.region-overlay {
  position: fixed;
  z-index: 102;
  left: 50%;
  border: 3px double #A9FF00;
  -moz-box-shadow: 0 0 15px 1px #e5e5e5;
  -webkit-box-shadow: 0 0 15px 1px #e5e5e5;
  box-shadow: 0 0 15px 1px #e5e5e5; }

.table-browse {
  background-color: white; }

/* CODE MIRROR */
.CodeMirror {
  height: 250px;
  margin: 0 auto;
  text-align: left;
  line-height: 18px; }

.cm-s-mdn-like.CodeMirror {
  color: #666666; }

.cm-s-sparql-mm .cm-keyword {
  color: #f2940a; }

.cm-s-sparql-mm .CodeMirror-gutters {
  border-left: 0; }

.cm-s-mdn-like .CodeMirror-selected {
  background: #0a82c7 !important;
  opacity: 0.15; }

.cm-s-sparql-mm .cm-atom {
  color: #666666; }

.cm-s-mdn-like .cm-variable {
  color: #fa3300; }

.cm-s-mdn-like span.cm-variable-2, .cm-s-mdn-like span.cm-tag {
  color: #0a82c7; }

.CodeMirror-wrap .CodeMirror-scroll {
  overflow: hidden; }

.cm-s-mdn-like .CodeMirror-linenumber {
  margin-left: -5px; }

.CodeMirror-hint {
  background: #f2940a;
  max-width: 1000px;
  padding: 2px 10px; }
